{ns hl7-fhir-uv-bulkdata.value-set.include-associated-data,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Metadata inclusion options for Bulk Data Access Export Operation includeAssociatedData parameter",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/uv/bulkdata/CodeSystem/include-associated-data",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/bulkdata/ValueSet/include-associated-data",
            :version "2.0.0",
            :ftr {:module "hl7-fhir-uv-bulkdata",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
